@model IEnumerable<FicBook.Models.Post>
@using FicBook.Data
@inject ApplicationDbContext _context

@foreach (var post in _context.Posts.OrderBy(a => a.CreatedDate))
{
    
    <strong>@post.Title</strong>
    <hr />
        <markdown source="@post.Content"></markdown>
    
}
<form asp-action="TestViewWithModel" asp-route-post="@Url.RouteUrl(ViewContext.RouteData.Values)">
    <input type="submit" value="Download" class="btn btn-default" />
    </form>