@model IEnumerable<FicBook.Models.Post>
@{
    ViewData["Title"] = "Fanfics";
}
<h3>This is what we have been writing...</h3>
<div class="container">
    <ul class="col-md-8 list-unstyled article-list">
        <li class="row">
            @await Component.InvokeAsync("LatestPosts", new { howMany = 15 })
        </li>
    </ul>
</div>
