@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using FicBook.Data
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject ApplicationDbContext context
@{

    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}
<form  style="display:inline-block" asp-controller="Posts" asp-action="SetLanguage" asp-route-page="@Url.RouteUrl(ViewContext.RouteData.Values)" method="post" class="form-horizontal">
   @if (requestCulture.RequestCulture.UICulture.Name == "ru")
   {    
       var img = await context.Source.FindAsync("EN");
       <button type="submit"><img src="@img.Picture" height="20" width="30" /></button>
   }
   else
   {
       var img = await context.Source.FindAsync("RU");
    <button type="submit"><img src="@img.Picture"height="20" width="30"  /></button>
   }
</form>