@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Title"];
}

<h2>@Localizer["Title"]</h2>
<div>
    <p>
        @Localizer["Confirmed"]
    </p>
</div>
